.calculator{
    border: 1px solid rgb(165, 162, 162);
    border-radius: 5px;
    width:200px;
}

#display{
    width: 85%;
    margin: 10px;
    font-size: 20px;
    padding:5px;
}

.container{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

.button{
    width:45px;
    height:45px;
    font-size: 20px;
    margin: 3px;
}